<% layout("layouts/boilerplate" )%>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3 class="text-center">Edit ~ Listing:</h3>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
                <div class="mb-3">
                    <label for="title" class="form-label"><b>Titel</b></label>
                    <input type="text" name="Listing[title]" class="form-control" value="<%= listing.title %>">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label"><b>Description</b></label>
                    <textarea name="Listing[description]" rows="3"
                        class="form-control"><%= listing.description %></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label"><b>Image</b></label>
                    <input type="text" name="Listing[image]" id="image" class="form-control"
                        value="<%= listing.image %>">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label"><b>Price</b></label>
                    <input type="number" name="Listing[price]" id="price" class="form-control"
                        value="<%= listing.price %>">
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label"><b>Location</b></label>
                    <input type="text" name="Listing[location]" id="location" class="form-control"
                        value="<%= listing.location %>">
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label"><b>Country</b></label>
                    <input type="text" name="Listing[country]" id="country" class="form-control"
                        value="<%= listing.country %>">
                </div>
                <button class="btn btn-outline-secondary"><b>Update</b></button>
            </form>
        </div>
    </div>